body {
  background-color: #314455;
  margin: 0;
  width: 100%;
}

.navbar .nav-item {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: #fff;
}

.heading {
  padding: 220px 400px 200px;
  margin-top: -70px;
  background-image: url("../images/Sekolah.jpg");
  background-size: cover;
  z-index: 1;
}

.heading .greeting {
  padding-top: 200px;
}

.heading .header-title {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
  color: #fff;
}

.heading .header-body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: #fff;
}

.heading .btn {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: #fff;
  border-radius: 8px;
}

.heading .btn-profil {
  background-color: #c96567;
  color: #f4f2f3;
}

.heading .imek {
  max-width: 100%;
}

.divider1 {
  background-color: #fafaff;
}

.divider1 img {
  width: 100%;
}

.white-section {
  padding: 50px;
  overflow-x: hidden;
  background-color: #fafaff;
}

.white-section .about-section {
  margin-top: 150px;
  margin-bottom: 200px;
}

.white-section .about-section .about-txt {
  padding-top: 100px;
}

.white-section .about-section .about-txt .about-title {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
  color: #314455;
}

.white-section .about-section .about-txt .about-body {
  padding-right: 14px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #314455;
}

.skill-section {
  margin-top: 100px;
  margin-bottom: 200px;
  padding-top: 100px;
  padding-left: 50px;
}

.skill-section .skill-title {
  padding-left: 290px;
  margin-bottom: 50px;
}

.skill-section .skill-title .stitle {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
  color: #314455;
}

.skill-section .row .col-12 .progress {
  height: 30px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.skill-section .row .col-12 .skill-name {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: #314455;
}

.skill-section .progress .progress-bar {
  -webkit-animation: animate-positive 2s;
          animation: animate-positive 2s;
}

.experience-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.experience-section .exp-title {
  padding-left: 335px;
  margin-bottom: 100px;
}

.experience-section .exp-title h1 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
  color: #314455;
}

.experience-section .col-lg-5 {
  padding-left: 50px;
}

.experience-section .col-12 {
  margin-top: -100px;
}

.experience-section .col-12 .exp-image {
  width: 100%;
}

.experience-section .col-12 .exp-text {
  padding-top: 150px;
}

.experience-section .col-12 .exp-text h1 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  color: #314455;
}

.experience-section .col-12 .exp-text h3 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #314455;
}

.experience-section .col-12 .exp-text h5 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #314455;
}

.divider2 {
  background-color: #fafaff;
}

.divider2 img {
  width: 100%;
}

.certificate-section .cert-title {
  padding-left: 380px;
  margin-bottom: 50px;
}

.certificate-section .cert-title h1 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
  color: #fff;
}

.certificate-section .row {
  margin-bottom: 20px;
}

.certificate-section .row .col-3 img {
  width: 100%;
  cursor: pointer;
}

.shape1 {
  left: 1500px;
  top: 1500px;
  -webkit-animation: float 2s ease-in-out infinite;
          animation: float 2s ease-in-out infinite;
}

.shape2 {
  left: 250px;
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
}

.shape3 {
  left: 1400px;
  top: 3100px;
  -webkit-animation: float 2s ease-in-out infinite;
          animation: float 2s ease-in-out infinite;
}

.shape4 {
  left: 300px;
  top: 3500px;
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
}

.shape5 {
  left: 1550px;
  top: 4000px;
  -webkit-animation: float 2s ease-in-out infinite;
          animation: float 2s ease-in-out infinite;
}

.shape6 {
  left: 500px;
  top: 4325px;
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
}

#gallery-modal .modal-img {
  width: 100%;
}

footer {
  margin-top: 200px;
}

footer .gitouch h1 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  color: #fff;
}

footer .gitouch h5 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
}

footer .row {
  margin: 20px;
}

footer .row .col-lg-1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
}

footer .row .col-lg-1 img {
  width: 100%;
  max-width: 40px;
  max-height: 40px;
}

footer .cpyright {
  margin-bottom: 20px;
}

footer .cpyright h1 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  color: #fff;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0px;
  }
}

@keyframes animate-positive {
  0% {
    width: 0px;
  }
}

@media screen and (max-width: 1440px) {
  .heading {
    padding: 140px 240px 40px;
    margin-top: -70px;
    background-image: url("../images/Sekolah.jpg");
    background-size: cover;
    z-index: 1;
  }
  .heading .greeting {
    padding-top: 200px;
  }
  .heading .header-title {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    color: #fff;
  }
  .heading .header-body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
  }
  .heading .btn {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
    border-radius: 8px;
  }
  .heading .btn-profil {
    background-color: #c96567;
    color: #f4f2f3;
  }
  .heading .imek {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .heading .imek img {
    max-width: 600px;
    width: 100%;
  }
  .experience-section {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .experience-section .row {
    margin-bottom: 50px;
  }
  .experience-section .exp-title {
    padding-left: 335px;
    margin-bottom: 100px;
  }
  .experience-section .exp-title h1 {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    color: #314455;
  }
  .experience-section .col-lg-5 {
    padding-left: 50px;
  }
  .experience-section .col-12 {
    margin-top: -100px;
  }
  .experience-section .col-12 .exp-image {
    width: 100%;
  }
  .experience-section .col-12 .exp-text {
    padding-top: 150px;
    padding-left: 80px;
  }
  .experience-section .col-12 .exp-text h1 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    color: #314455;
  }
  .experience-section .col-12 .exp-text h3 {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: #314455;
  }
  .experience-section .col-12 .exp-text h5 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #314455;
  }
  .shape1 {
    display: none;
    left: 1500px;
    top: 1500px;
    -webkit-animation: float 2s ease-in-out infinite;
            animation: float 2s ease-in-out infinite;
  }
  .shape2 {
    display: none;
    left: 250px;
    -webkit-animation: float 3s ease-in-out infinite;
            animation: float 3s ease-in-out infinite;
  }
  .shape3 {
    display: none;
    left: 1400px;
    top: 3100px;
    -webkit-animation: float 2s ease-in-out infinite;
            animation: float 2s ease-in-out infinite;
  }
  .shape4 {
    display: none;
    left: 300px;
    top: 3500px;
    -webkit-animation: float 3s ease-in-out infinite;
            animation: float 3s ease-in-out infinite;
  }
  .shape5 {
    display: none;
    left: 1650px;
    top: 4000px;
    -webkit-animation: float 2s ease-in-out infinite;
            animation: float 2s ease-in-out infinite;
  }
  .shape6 {
    display: none;
    left: 500px;
    top: 4325px;
    -webkit-animation: float 3s ease-in-out infinite;
            animation: float 3s ease-in-out infinite;
  }
}

@media screen and (max-width: 1280px) {
  body {
    background-color: #314455;
    margin: 0;
  }
  .navbar .nav-item {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
  }
  .heading {
    padding: 140px 140px 40px;
    margin-top: -70px;
    background-image: url("../images/Sekolah.jpg");
    background-size: cover;
    z-index: 1;
  }
  .heading .greeting {
    padding-top: 200px;
  }
  .heading .header-title {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    color: #fff;
  }
  .heading .header-body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
  }
  .heading .btn {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
    border-radius: 8px;
  }
  .heading .btn-profil {
    background-color: #c96567;
    color: #f4f2f3;
  }
  .heading .imek {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .heading .imek img {
    max-width: 600px;
    width: 100%;
  }
  .divider1 {
    background-color: #fafaff;
  }
  .divider1 img {
    width: 100%;
  }
  .white-section {
    padding: 50px;
    background-color: #fafaff;
  }
  .white-section .about-section {
    margin-top: 50px;
    margin-bottom: 200px;
  }
  .white-section .about-section .about-img img {
    max-width: 300px;
    width: 100%;
  }
  .white-section .about-section .about-txt {
    padding-top: 100px;
  }
  .white-section .about-section .about-txt .about-title {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    color: #314455;
  }
  .white-section .about-section .about-txt .about-body {
    padding-right: 14px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #314455;
  }
  .skill-section {
    margin-top: 100px;
    margin-bottom: 200px;
    padding-top: 100px;
    padding-left: 50px;
  }
  .skill-section .skill-title {
    padding-left: 180px;
    margin-bottom: 50px;
  }
  .skill-section .skill-title .stitle {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    color: #314455;
  }
  .skill-section .row .col-12 .progress {
    height: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  .skill-section .row .col-12 .skill-name {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #314455;
  }
  .skill-section .progress .progress-bar {
    -webkit-animation: animate-positive 2s;
            animation: animate-positive 2s;
  }
  .experience-section .exp-title {
    padding-left: 200px;
    margin-bottom: 100px;
  }
  .experience-section .exp-title h1 {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    color: #314455;
  }
  .experience-section .col-lg-5 {
    padding-left: 30px;
  }
  .experience-section .col-12 {
    margin-top: 0px;
  }
  .experience-section .col-12 .exp-image img {
    width: 100%;
  }
  .experience-section .col-12 .exp-text {
    padding-top: 50px;
    padding-left: 20px;
  }
  .experience-section .col-12 .exp-text h1 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    color: #314455;
  }
  .experience-section .col-12 .exp-text h3 {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: #314455;
  }
  .experience-section .col-12 .exp-text h5 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #314455;
  }
  .certificate-section .cert-title {
    padding-left: 250px;
    margin-bottom: 50px;
  }
  .certificate-section .cert-title h1 {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    color: #fff;
  }
  .certificate-section .row {
    margin-bottom: 20px;
  }
  .certificate-section .row .col-3 img {
    width: 100%;
  }
  .shape1 {
    display: none;
    left: 1500px;
    top: 1500px;
    -webkit-animation: float 2s ease-in-out infinite;
            animation: float 2s ease-in-out infinite;
  }
  .shape2 {
    display: none;
    left: 250px;
    -webkit-animation: float 3s ease-in-out infinite;
            animation: float 3s ease-in-out infinite;
  }
  .shape3 {
    display: none;
    left: 1400px;
    top: 3100px;
    -webkit-animation: float 2s ease-in-out infinite;
            animation: float 2s ease-in-out infinite;
  }
  .shape4 {
    display: none;
    left: 300px;
    top: 3500px;
    -webkit-animation: float 3s ease-in-out infinite;
            animation: float 3s ease-in-out infinite;
  }
  .shape5 {
    display: none;
    left: 1650px;
    top: 4000px;
    -webkit-animation: float 2s ease-in-out infinite;
            animation: float 2s ease-in-out infinite;
  }
  .shape6 {
    display: none;
    left: 500px;
    top: 4325px;
    -webkit-animation: float 3s ease-in-out infinite;
            animation: float 3s ease-in-out infinite;
  }
}

@media screen and (max-width: 1024px) {
  body {
    background-color: #314455;
    margin: 0;
  }
  .navbar .nav-item {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
  }
  .heading {
    padding: 140px 140px 40px;
    margin-top: -70px;
    background-image: url("../images/Sekolah.jpg");
    background-size: cover;
    z-index: 1;
  }
  .heading .greeting {
    padding-top: 100px;
  }
  .heading .header-title {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    color: #fff;
  }
  .heading .header-body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
  }
  .heading .btn {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
    border-radius: 8px;
  }
  .heading .btn-profil {
    background-color: #c96567;
    color: #f4f2f3;
  }
  .heading .imek {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .heading .imek img {
    max-width: 600px;
    width: 100%;
  }
  .divider1 {
    background-color: #fafaff;
  }
  .divider1 img {
    width: 100%;
  }
  .white-section {
    padding: 50px;
    background-color: #fafaff;
  }
  .white-section .about-section {
    margin-top: 50px;
    margin-bottom: 200px;
  }
  .white-section .about-section .about-img img {
    max-width: 300px;
    width: 100%;
  }
  .white-section .about-section .about-txt {
    padding-top: 100px;
  }
  .white-section .about-section .about-txt .about-title {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    color: #314455;
  }
  .white-section .about-section .about-txt .about-body {
    padding-right: 14px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #314455;
  }
  .skill-section {
    margin-top: 100px;
    margin-bottom: 200px;
    padding-top: 100px;
    padding-left: 50px;
  }
  .skill-section .skill-title {
    padding-left: 180px;
    margin-bottom: 50px;
  }
  .skill-section .skill-title .stitle {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    color: #314455;
  }
  .skill-section .row .col-12 .progress {
    height: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  .skill-section .row .col-12 .skill-name {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #314455;
  }
  .skill-section .progress .progress-bar {
    -webkit-animation: animate-positive 2s;
            animation: animate-positive 2s;
  }
  .experience-section .exp-title {
    padding-left: 200px;
    margin-bottom: 100px;
  }
  .experience-section .exp-title h1 {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    color: #314455;
  }
  .experience-section .col-lg-5 {
    padding-left: 50px;
  }
  .experience-section .col-12 {
    margin-top: 0px;
  }
  .experience-section .col-12 .exp-image img {
    width: 100%;
  }
  .experience-section .col-12 .exp-text {
    padding-top: 50px;
  }
  .experience-section .col-12 .exp-text h1 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    color: #314455;
  }
  .experience-section .col-12 .exp-text h3 {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: #314455;
  }
  .experience-section .col-12 .exp-text h5 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #314455;
  }
  .certificate-section .cert-title {
    padding-left: 250px;
    margin-bottom: 50px;
  }
  .certificate-section .cert-title h1 {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    color: #fff;
  }
  .certificate-section .row {
    margin-bottom: 20px;
  }
  .certificate-section .row .col-3 img {
    width: 100%;
  }
  .shape1 {
    display: none;
    left: 1500px;
    top: 1500px;
    -webkit-animation: float 2s ease-in-out infinite;
            animation: float 2s ease-in-out infinite;
  }
  .shape2 {
    display: none;
    left: 250px;
    -webkit-animation: float 3s ease-in-out infinite;
            animation: float 3s ease-in-out infinite;
  }
  .shape3 {
    display: none;
    left: 1400px;
    top: 3100px;
    -webkit-animation: float 2s ease-in-out infinite;
            animation: float 2s ease-in-out infinite;
  }
  .shape4 {
    display: none;
    left: 300px;
    top: 3500px;
    -webkit-animation: float 3s ease-in-out infinite;
            animation: float 3s ease-in-out infinite;
  }
  .shape5 {
    display: none;
    left: 1650px;
    top: 4000px;
    -webkit-animation: float 2s ease-in-out infinite;
            animation: float 2s ease-in-out infinite;
  }
  .shape6 {
    display: none;
    left: 500px;
    top: 4325px;
    -webkit-animation: float 3s ease-in-out infinite;
            animation: float 3s ease-in-out infinite;
  }
  footer {
    margin-top: 200px;
  }
  footer .gitouch h1 {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 150%;
    color: #fff;
  }
  footer .gitouch h5 {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    color: #fff;
  }
  footer .row {
    margin: 20px;
  }
  footer .row .col-2 {
    padding-left: 10px;
  }
  footer .cpyright {
    margin-bottom: 20px;
  }
  footer .cpyright h1 {
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 150%;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: #314455;
    margin: 0;
  }
  .navbar .nav-item {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
  }
  .heading {
    padding: 20px 40px 20px;
    margin-top: -70px;
    background-image: url("../images/Sekolah.jpg");
    background-size: cover;
    z-index: 1;
  }
  .heading .greeting {
    padding-top: 200px;
  }
  .heading .header-title {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
    color: #fff;
  }
  .heading .header-body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
  }
  .heading .btn {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
    border-radius: 8px;
  }
  .heading .btn-profil {
    background-color: #c96567;
    color: #f4f2f3;
  }
  .heading .imek {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .heading .imek img {
    max-width: 600px;
    width: 100%;
  }
  .divider1 {
    background-color: #fafaff;
  }
  .divider1 img {
    width: 100%;
  }
  .white-section {
    padding: 50px;
    background-color: #fafaff;
  }
  .white-section .about-section {
    margin-top: 150px;
    margin-bottom: 200px;
  }
  .white-section .about-section .about-img img {
    max-width: 150px;
    width: 100%;
  }
  .white-section .about-section .about-txt {
    padding-top: 10px;
  }
  .white-section .about-section .about-txt .about-title {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    color: #314455;
  }
  .white-section .about-section .about-txt .about-body {
    padding-right: 14px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    color: #314455;
  }
  .skill-section {
    margin-top: 100px;
    margin-bottom: 200px;
    padding-top: 100px;
    padding-left: 10px;
  }
  .skill-section .skill-title {
    padding-left: 0px;
    margin-bottom: 30px;
  }
  .skill-section .skill-title .stitle {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    color: #314455;
  }
  .skill-section .row .col-12 .progress {
    height: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .skill-section .row .col-12 .skill-name {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #314455;
  }
  .skill-section .progress .progress-bar {
    -webkit-animation: animate-positive 2s;
            animation: animate-positive 2s;
  }
  .experience-section #right1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .experience-section .exp-title {
    padding-left: 0px;
    margin-bottom: 10px;
  }
  .experience-section .exp-title h1 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    color: #314455;
  }
  .experience-section .col-lg-5 {
    padding-left: 0px;
  }
  .experience-section .col-12 {
    margin-top: 0px;
  }
  .experience-section .col-12 .exp-image img {
    width: 100%;
  }
  .experience-section .col-12 .exp-text {
    padding-top: 20px;
  }
  .experience-section .col-12 .exp-text h1 {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #314455;
  }
  .experience-section .col-12 .exp-text h3 {
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 150%;
    color: #314455;
  }
  .experience-section .col-12 .exp-text h5 {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    color: #314455;
  }
  .certificate-section .cert-title {
    padding-left: 60px;
    margin-bottom: 50px;
  }
  .certificate-section .cert-title h1 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    color: #fff;
  }
  .certificate-section .row {
    margin-bottom: 8px;
    margin-left: 0px;
  }
  .certificate-section .row .col-3 img {
    width: 125%;
    max-width: 250px;
  }
  .shape1 {
    display: none;
    left: 1500px;
    top: 1500px;
    -webkit-animation: float 2s ease-in-out infinite;
            animation: float 2s ease-in-out infinite;
  }
  .shape2 {
    display: none;
    left: 250px;
    -webkit-animation: float 3s ease-in-out infinite;
            animation: float 3s ease-in-out infinite;
  }
  .shape3 {
    display: none;
    left: 1400px;
    top: 3100px;
    -webkit-animation: float 2s ease-in-out infinite;
            animation: float 2s ease-in-out infinite;
  }
  .shape4 {
    display: none;
    left: 300px;
    top: 3500px;
    -webkit-animation: float 3s ease-in-out infinite;
            animation: float 3s ease-in-out infinite;
  }
  .shape5 {
    display: none;
    left: 1650px;
    top: 4000px;
    -webkit-animation: float 2s ease-in-out infinite;
            animation: float 2s ease-in-out infinite;
  }
  .shape6 {
    display: none;
    left: 500px;
    top: 4325px;
    -webkit-animation: float 3s ease-in-out infinite;
            animation: float 3s ease-in-out infinite;
  }
  footer {
    margin-top: 200px;
  }
  footer .gitouch h1 {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 150%;
    color: #fff;
  }
  footer .gitouch h5 {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    color: #fff;
  }
  footer .row {
    margin: 20px;
  }
  footer .row .col-2 {
    padding-left: 10px;
  }
  footer .cpyright {
    margin-bottom: 20px;
  }
  footer .cpyright h1 {
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 150%;
    color: #fff;
  }
}
/*# sourceMappingURL=main.css.map */